 
  /* @media(max-width:1647px){
        #certificates {
 
        height: 740px;
    } } */

/* Resposive design */
@media(max-width:1000px){
    .nav .nav_ul, .nav .action_btn{
        display: none;
    }
    .nav .toggle_btn{
        display: block;
        position: relative;
        right: 10px;
        /* border: 1px solid red; */
         box-shadow: 8px 1px 6px #312c2c;
 
    }
    .dropdown_menu{
        display: block;
 

    }
    #title-box{
        /* width: 90%;  */
        float: left;
        /* width: min-content; */
    }
    #title-box h4{
        width: min-content;
    }
    #title-box h1{
        width: fit-content;
    }
    #short-intro{
      width: fit-content;
     }
     /* .icons {
 
        height: 40px;
        width: 40px;
 
    } */
    video{
        display: none;
    }
/*     
    .icons {
        right: -8rem;
        top: 16.8rem;
        position: relative;
        margin-top: 0px;
        height: 25px;
        width: 25px;
        margin-right: 28px;
    } */
    #short-intro {
        width: fit-content;
        font-size: 1.2rem;
    }
    #title-box h4 {
        font-size: 1.8rem;
        width: max-content;
    }
    #title-box h1 {
        font-size: 1.3rem;
        width: fit-content;
        margin-top: 8px;
    }
    #dark-button {
 display: none;
    }
    #dark-button2 {
        display: flex;
        width: fit-content;
        flex-direction: row;
        align-items: center;
margin: 0 auto;
margin-top: 63px;
        gap: 0.5rem;
    }
    #about_us {
 
        /* border: 5px dotted rgb(219, 45, 45); */
        /* border-radius: 0px 0px 53px 53px; */
        border-top: none;
    }
    #feedbackForm label{
        font-size: 1rem;
    }
    #progress-im1 {
        box-shadow: 4px 5px 8px 1px #f74a4a;
        width: 50%;
        height: 43%;
        cursor: pointer;
    }
    .progress-report {
        margin: 30px;
        /* box-shadow: 4px 5px 8px 1px #f74a4a; */
        width: 190px;
        height: 97px;
        border-radius: 25px;
    }

    .container p{
        font-size: 40px;
      }
}
@media(max-width:900px){
    .certificates-container{
        padding: 1.5rem;
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr;
      }
}
 
/* Resposive design */
  @media(max-width:600px){
    .skill-icons {
   
        width: 70px;
        height: 70px;}

        .skill-icons img {
            box-shadow: -2px -1px 5px 4px #656060;
            border-radius: 25px;
            width: 70px;
            height: 70px;
        }
        .container p{
            font-size: 25px;
          }
    }
   

@media(max-width:535px){
    .progress-report {
        margin: 30px;
        /* box-shadow: 4px 5px 8px 1px #f74a4a; */
        width: 150px;
        height: 50px;
        border-radius: 25px;
    }

    #progress-im1 {
        box-shadow: 4px 5px 8px 1px #f74a4a;
        width: 40%;
        height: 27%;
        cursor: pointer;
    }
   
}
  @media(max-width:500px){
        #about_us_box p {
    font-size: 1.06rem;

}
   
} 
@media(max-width:450px){
    .certificates-detail {
 
        padding: 0.2rem;
    }
    .certificates-icon {
        height: max-content;
     
        padding: 1rem;
    }
 } 
@media(max-width:426px){
    /* .icons {
        right: -4rem;
        top: 16.8rem;
        position: relative;
        margin-top: 0px;
        height: 25px;
        width: 25px;
        margin-right: 28px;
    } */
    .container p {
        font-size: 20px;
    }s
    #short-intro {
        
        font-size: 1rem;
    }
    .progress-report {
        margin: 30px;
        /* box-shadow: 4px 5px 8px 1px #f74a4a; */
        width: 150px;
        height: 50px;
        border-radius: 25px;
    }


}
    @media(max-width:350px){
        .certificates-detail {
           
            gap: 0.1rem;
        
        }
    }

 
 /*
@media(max-width:1220px){
    #home{
       height: 732px;
       border-radius: 18px;
    }
    

}
@media(max-width:1330px){
    #home{
       height: 732px;
       border-radius: 18px;
    }
 

} */
